<html xmlns:th="http://www.thymeleaf.org">

<head th:include="layout :: head(title=~{::title},links=~{})">
<title>Admin Drugs</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>

<body th:include="layout :: body" th:with="content=~{::content}">
	<div th:fragment="content">


		<script th:inline="javascript">
      /* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */
      /*<![CDATA[*/
      var app = angular.module("drugsApp", []);
      app.controller('drugsCtrl', function ($scope, $http) {
    	  
    	var checkValidDrug = function(drug) {
    		var err = [];
    		if (drug.description.length > 1024) {
    			err.push("Description exceeds character limit of 1024");
    			console.error("desc. error");
    		}
    		if (drug.name.length > 64) {
    			err.push("Name exceeds the character limit of 64");
    			console.error("name error");
    		}
    		if (!/^\d{4}-\d{4}-\d{2}$/.test(drug.code)) {
    			err.push("Code must be in the format XXXX-XXXX-XX");
    			console.error("NDC error");
    		}
    		if (drug.numDoses.length > 1) {
    			err.push("Doses exceeds the character limit of 1");
    			console.error("number of doses error");
    		}
    		if (drug.doseInterval['intervalAmount'].length > 1) {
    			err.push("Interval exceeds the character limit of 1");
    			console.error("interval amount error");
    		}
    		if (!/\d+-\d+/.test(drug.ageRange)) {
    			err.push("Age Range isn't in the format NUMBER-NUMBER");
    			console.error("age range error");
    		}
    		return err.join(". ");
    	}

        $scope.drugs = [];
        $scope.loadTable = function () {
          $http.get("/iTrust2/api/v1/CovidVaccines").then(
            function (response) {
              $scope.drugs = response.data;
              $scope.message = "";
            }, function (rejection) {
              $scope.drugs = [];
              $scope.message = "Could not display drugs";
            });
        }
        
         
        

        $scope.addDrug = function () {
          var err = checkValidDrug($scope.drug);
          var oldAgeRange = $scope.drug.ageRange;
          ageRangeParser($scope.drug.ageRange);
          if (err) {
            $scope.errorAdding = err;
            $scope.drug.ageRange = oldAgeRange;
          } else {
            $http.post("/iTrust2/api/v1/CovidVaccines", $scope.drug).then(
              function (response) {
                $scope.loadTable();
                $scope.drug.name = "";
                $scope.drug.numDoses = "";
                $scope.drug.doseInterval = {};
                $scope.drug.ageRange = ""; 
                $scope.drug.code = "";
                $scope.drug.description = "";
                $scope.errorAdding = "";
              }, function (rejection) {
                $scope.errorAdding = "Could not add drug";
              });
          }
          
           
          
          

        }

        $scope.deleteDrug = function (drug) {
          $http.delete('/iTrust2/api/v1/CovidVaccines/' + drug.id).then(
            function (response) {
              $scope.loadTable();
              $scope.message = "";
            }, function (rejection) {
              $scope.message = "Could not remove drug";
            })
        }

        // gets the template to ng-include for a table row / item
        $scope.selectedDrug = {};

        $scope.getTemplate = function (drug) {
          if (drug.id === $scope.selectedDrug.id) return 'edit';
          else return 'view';
        };

        $scope.editDrug = function (drug) {
          $scope.selectedDrug = angular.copy(drug);
        };
        $scope.saveDrug = function () {
       	  var err = checkValidDrug($scope.selectedDrug);
       	  ageRangeSelectedParser($scope.selectedDrug.ageRange)
          if (err) {
            $scope.errorAdding = err;
          } else {
            $http.put("/iTrust2/api/v1/CovidVaccines", $scope.selectedDrug).then(
              function (response) {
                $scope.loadTable();
                $scope.resetSelected();         
              }, function (rejection) {
                $scope.errorAdding = "Failed to edit drug";
              });
          }
        };

        $scope.resetSelected = function () {
          $scope.selectedDrug = {};
        };
        
        function ageRangeParser(ageRange){
        	var ageRangeArray = ageRange.split("-");
        	$scope.drug.ageRange = ageRangeArray;
        }
        
        function ageRangeSelectedParser(ageRange){
        	var ageRangeArray = ageRange.split("-");
        	$scope.selectedDrug.ageRange = ageRangeArray;
        }
        
        $scope.editClick = function(drug) {
        	$scope.editDrug(drug);
        	formatAgeRange();
        }
        
        function formatAgeRange(){
        	$scope.selectedDrug.ageRange = arrayToAgeRange($scope.selectedDrug.ageRange);
        }
        
        function arrayToAgeRange(ageRangeArray){
        	return ageRangeArray[0] + "-" + ageRangeArray[1];
        }

        // load table initially
        $scope.loadTable();
      });
			/*]]>*/
    </script>



		<div ng-app="drugsApp" ng-controller="drugsCtrl">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3>Admin Manage Drugs</h3>
							</div>
							<div class="panel-body">
								<table class="table table-bordered">
									<caption>Existing Medications:</caption>
									<thead>
										<tr>
											<th>Drug</th>
											<th>Doses</th>
											<th>Interval Type</th>
											<th>Interval</th>
											<th>Age Range</th>
											<th>NDC</th>
											<th>Description</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										<tr name="drugTableRow"
											ng-repeat="d in drugs | orderBy: 'name'"
											ng-include="getTemplate(d)" drugId={{d.id}}>
										</tr>
									</tbody>
								</table>
								<!-- table in view mode -->
								<script type="text/ng-template" id="view">
                  <td name="nameCell">{{d.name}}</td>

//added these lines below

				  <td name="dosesCell">{{d.numDoses}}</td>
				  <td name="IntervalTypeCell">{{d.doseInterval['intervalType']}}</td>
				  <td name="IntervalCell">{{d.doseInterval['intervalAmount']}}</td>
				  <td name="AgeRangeCell">{{d.ageRange}}</td>
                  <td name="codeCell">{{d.code}}</td>
                  <td name="descriptionCell">{{d.description}}</td>
                  <td>
                    <div class="row text-center">
                      <div class="col-md-6">
                        <input type="button" value="Edit" class="btn btn-primary" name="editDrug" ng-click="editClick(d)" />                         
                      </div>
                      <div class="col-md-6">
                          <input type="button" value="Delete" class="btn btn-danger" name="deleteDrug" ng-click="deleteDrug(d)" />                          
                      </div>
                    </div>
                  </td>
                </script>

								<!-- table in edit mode -->
								<script type="text/ng-template" id="edit">
                  <td name="editNameCell">
                    <input type="text" class="form-control" ng-model="selectedDrug.name" />
                  </td>

//added these lines below for edit
				  <td name="editDosesCell">
                    <input type="text" class="form-control" ng-model="selectedDrug.numDoses" />
                  </td>

				  <td>
					<select class="form-control" name="intervalType" ng-model="selectedDrug.doseInterval['intervalType']">
																<option value="DAYS">days</option>
																<option value="WEEKS">weeks</option>
																<option value="MONTHS">months</option>
																<option value="YEARS">years</option>
															</select> 
				` </td>

				  <td name="editIntervalCell">
                    <input type="text" class="form-control" ng-model="selectedDrug.doseInterval['intervalAmount']" />
					
                  </td>
				  

				  <td name="editAgeRangeCell">
                    <input type="text" class="form-control" ng-model="selectedDrug.ageRange" />
                  </td>

                  <td name="editCodeCell">
                    <input type="text" class="form-control" ng-model="selectedDrug.code" />
                  </td>
                  <td name="editDescriptionCell">
                    <input type="text" class="form-control" ng-model="selectedDrug.description" />
                  </td>
                  <td>
                    <div class="row text-center">
                      <div class="col-md-6">
                          <input type="button" value="Save" class="btn btn-success" name="saveDrug" ng-click="saveDrug()" />                          
                      </div>
                      <div class="col-md-6">
                          <input type="button" value="Cancel" class="btn btn-danger" name="cancelEdit" ng-click="resetSelected()" />                            
                      </div>
                    </div>
                  </td>
                </script>

								<br>
								<div class="row">
									<div class="col-md-12">
										<div class="panel panel-default">
											<div class="panel-heading ">Add a Drug or Vaccine</div>
											<div class="panel-body">
												<form class="form-horizontal" role="form" name="addDrugForm"
													ng-submit="addDrug(addDrugForm.$valid)">
													<div class="row">
														<div class="col-md-4">
															<label>Name</label> <input type="text"
																class="form-control" name="drug" ng-model="drug.name"
																required />
														</div>
														<div class="col-md-4">
															<label>Code</label> <input type="text"
																class="form-control" placeholder="xxxx-xxxx-xx"
																name="code" ng-model="drug.code" required />
														</div>
														<div class="col-md-4">
															<label>Description</label>
															<textarea class="form-control" rows="5"
																name="description" ng-model="drug.description" required
																ng-minlength="1"></textarea>
														</div>

														<div class="col-md-4">
															<label>Doses</label> <input type="text"
																class="form-control" placeholder="Amount" name="doses"
																ng-model="drug.numDoses" required />
														</div>

														<div class="col-md-4">
															<label>Interval Type</label>
															<select class="form-control" name="intervalType" ng-model="drug.doseInterval['intervalType']" required>
																<option value="DAYS">days</option>
																<option value="WEEKS">weeks</option>
																<option value="MONTHS">months</option>
																<option value="YEARS">years</option>
															</select> 
														</div>


														<div class="col-md-4">
															<label>Interval</label> <input type="text"
																class="form-control"
																name="interval" ng-model="drug.doseInterval['intervalAmount']" required />
														</div>

														<div class="col-md-4">
															<label>Age Range</label> <input type="text"
																class="form-control" placeholder="Age Range"
																name="range" ng-model="drug.ageRange" required />
														</div>

													</div>
													<div class="row">
														<div class="col-md-12 text-right">
															<button type="submit" class="btn btn-success"
																name="submit">Submit</button>
														</div>
													</div>
												</form>
												<div>
													<p style="color: red" ng-model="errorAdding" id="errP">{{errorAdding}}</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
</body>

</html>

<!-- still here? -->